<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">

    <title>Document</title>
</head>
<body>
    
    <div class="container">

        <div class="center">
            <h1>Chest</h1>
        </div>

        <div class="">

            <table class="alingCenter" border="1" width="80%">
            <tr>
                <th>workout</th>
                <th>Series</th>
                <th>Times</th>
            </tr>

            <tr>
                <td>Incline bench press</td>
                <td>3</td>
                <td>10 to 12</td>
            </tr>
            
            <tr>
                <td>Voador</td>
                <td>3</td>
                <td>10 to 12</td>
            </tr>

                 
            <tr>
                <td>Voador</td>
                <td>3</td>
                <td>10 to 12</td>
            </tr>

            </table>

        </div>


    </div>

</body>
</html>