<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/works.css">
    <link rel="stylesheet" href="../styles/navStyle.css">



    <title>Document</title>
  
</head>
<body>
    
    <div id="nav" class="nav">

    </div>

    <div class="container center">

        <div>
            <table id="tabela" class="alingCenter tabela" width="80%">
                <tr>
                    <th>workout</th>
                    <th>Series</th>
                    <th>Times</th>
                </tr>
            </table>
        </div>
        <script src="../script.js"></script>
        <script src="../exercicios.js"></script>
        
        </script>

    </div>

    
</body>
</html>