<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onde vc quer treinar?</title>
    <link rel="stylesheet" href="../styles/loca.css">
    <link rel="stylesheet" href="../styles/navStyle.css">
    <link rel="stylesheet" href="../styles/style.css">


</head>

<body>

    <div id="nav" class="nav">

    </div>

    <div class="containerPrincipal">

        <input type="text" placeholder="Digite bairro cep ou cidade">

        <div class="filtros">
            oi
        </div>

        <div class="cards-container">

            <div class="cards">

                <div class="card">
                    <div class='card-img'>
                        <img src="../assets/places/_DSC0422 (1).jpg">
                    </div>
                    <div class="card-text">
                        <h3>Riacho das Pedras</h3>
                        <p>Avenida riacho das pedras, 202 Riacho, Contagem - MG</p>
                        <a href="">Ver Academia</a>

                        <div class="card-footer">
                            <button>Quero Contratar</button>
                        </div>

                    </div>
                </div>

                <div class="card">
                    <div class='card-img'>
                        <img src="../assets/places/_DSC0527.jpg">
                    </div>
                </div>

                <div class="card">
                    <div class='card-img'>
                        <img
                            src="../assets/places/academia-smart-fit-unidade-barreiro-belo-horizonte-minas-gerais-area-cardiovascular-eliptico-transport-esteira.jpg">
                    </div>
                </div>

                <div class="card">
                    <div class='card-img'>
                        <img
                            src="../assets/places/smart-fit-academia-unidade-guiterrez-mg-equipamento-area-cardiovascular-simulador_de_escada_.png">
                    </div>
                </div>

                <div class="card">
                    <div class='card-img'>
                        <img
                            src="../assets/places/smart-fit-academia-contagem-minas-gerais-area-treino-funcional-smartbox-equipamento.jpg">
                    </div>
                </div>

                <div class="card">
                    <div class='card-img'>
                        <img src="../assets/places/smart-fit-itaupower-shopping-sala-de-ginastica.jpg">
                    </div>
                </div>


            </div>

        </div>


    </div>

</body>
<script src="../index.js"></script>

</html>