<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onde vc quer treinar?</title>
    
    <link rel="stylesheet" href="../styles/navStyle.css">
    <link rel="stylesheet" href="../styles/loca.css">


</head>

<body>

    <div id="nav" class="nav">

    </div>
    
    <div class="containerPrincipal">

        <div class="cards-container">

            <div class="cards">

                <div class="card">
                    <div class='card-img'>
                        <img src="../assets/places/_DSC0422 (1).jpg">
                    </div>
                    <div class="card-text">
                        <h3>Riacho das Pedras</h3>
                        <p>Avenida riacho das pedras, 202 Riacho, Contagem - MG</p>
                        <a href="">Ver Academia</a>

                        <div class="card-img-icon">
                            <img src='../assets/places/halter.jpg'>
                            <img src='../assets/icons/athlete_372568.png'>

                        </div>

                        <div class="card-footer">
                            <button>Quero Contratar</button>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class='card-img'>
                        <img src="../assets/places/_DSC0527.jpg">
                    </div>
                    <div class="card-text">
                        <h3>Industrial</h3>
                        <p>Rua Carlos Chagas, 1050 Industrial, Contagem - MG</p>
                        <a href="">Ver Academia</a>

                        <div class="card-img-icon">
                            <img src='../assets/icons/dumbbell_3629853.png'>
                            <img src='../assets/icons/exercise_2980867.png'>

                        </div>

                        <div class="card-footer">
                            <button>Quero Contratar</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class='card-img'>
                        <img src="../assets/places/academia-smart-fit-unidade-barreiro-belo-horizonte-minas-gerais-area-cardiovascular-eliptico-transport-esteira.jpg">
                    </div>
                    <div class="card-text">
                        <h3>Eldorado</h3>
                        <p>Avenida João Cesar de Oliveira, 1050 Eldorado, Contagem - MG</p>
                        <a href="">Ver Academia</a>

                        <div class="card-img-icon">
                            <img src='../assets/icons/gymnastics_6848977.png'>
                            <img src='../assets/icons/man_9925313.png'>

                        </div>

                        <div class="card-footer">
                            <button>Quero Contratar</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class='card-img'>
                        <img src="../assets/places/smart-fit-academia-contagem-minas-gerais-area-treino-funcional-smartbox-equipamento.jpg">
                    </div>
                    <div class="card-text">
                        <h3>Riacho das Pedras</h3>
                        <p>Avenida riacho das pedras, 202 Riacho, Contagem - MG</p>
                        <a href="">Ver Academia</a>

                        <div class="card-img-icon">
                            <img src='../assets/icons/proprioception_10655776.png'>
                            <img src='../assets/icons/squat_8407066.png'>

                        </div>

                        <div class="card-footer">
                            <button>Quero Contratar</button>
                        </div>
                    </div>
                </div>

                        <div class="card">
                    <div class='card-img'>
                        <img src="../assets/places/smart-fit-academia-unidade-guiterrez-mg-equipamento-area-cardiovascular-simulador_de_escada_.png">
                    </div>
                    <div class="card-text">
                        <h3>Riacho das Pedras</h3>
                        <p>Avenida riacho das pedras, 202 Riacho, Contagem - MG</p>
                        <a href="">Ver Academia</a>

                        <div class="card-img-icon">
                            <img src='../assets/icons/weight-lifting_5557262.png'>
                            <img src='../assets/icons/workout_3000666.png'>

                        </div>

                        <div class="card-footer">
                            <button>Quero Contratar</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class='card-img'>
                        <img src="../assets/places/smart-fit-itaupower-shopping-sala-de-ginastica.jpg">
                    </div>
                    <div class="card-text">
                        <h3>Riacho das Pedras</h3>
                        <p>Avenida riacho das pedras, 202 Riacho, Contagem - MG</p>
                        <a href="">Ver Academia</a>

                        <div class="card-img-icon">
                            <img src='../assets/places/halter.jpg'>
                            <img src='../assets/icons/workout_760622.png'>

                        </div>

                        <div class="card-footer">
                            <button>Quero Contratar</button>
                        </div>
                    </div>
                </div>


            </div>

        </div>


    </div>

</body>

<script src="../script.js"></script>

</html>