@font-face {
    font-family: 'Raleway';
    src: url('../../assets/fonts/Raleway/static/Raleway-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

body {
    background: rgb(255, 255, 255);

}

.cards-container {
    display: flex;
    box-sizing: border-box;

}

.cards {
    display: flex;
    flex-wrap: wrap;
    width: 1040px;
    margin:auto;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 10px;

}

.card {
    border-radius: 8px;
    min-width: 280px;
    max-width: 280px;
    height: 380px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0.3, 0.3);
    background-color: #fff;
}

.card-img {
    width: 100%;
    height: 150px;
}
.card-text h3 {
   margin: 4px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 17px;
   color: rgb(204, 204, 248);
   text-align: center;
}

.card-text a {
    margin: 4px;
    color:#1977b3;
    text-decoration: inherit;
    font-size: 14px;
    line-height: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card-text {
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.card-text p {
    color: rgb(131, 128, 128);
    font-size: 0.7em;
    overflow: hidden; /* Oculta o conteúdo que não cabe */
    text-overflow: ellipsis; /* Adiciona reticências (...) quando o texto é cortado */
    white-space: nowrap; /* Impede que o texto quebre em várias linhas */

}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Redimensiona para cobrir o espaço mantendo a proporção */
    border-radius: 8px 8px 0 0;
}

.card-img-icon {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 30px
}

.card-img-icon img {
    width: 80px;
    height: 30%;
    object-fit: cover; /* Redimensiona para cobrir o espaço mantendo a proporção */
}

.card-footer {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 15px;
}

.card-footer button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 6px 16px;
        height: 35px;
        width: 250px;
        border-radius: 200px;
        border: none;
        color: rgba(1,1,20,.88);
        font: 700 13px  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        ;
        cursor: pointer;
       
}

 /*@media (max-width: 400px) {
    .cards {
      margin:auto;
      max-width: 360px;
      margin:auto;
      align-items: center;
      justify-content: center;
      display: flex;
    } 
}*/