/* styles.css */

body {
    margin: 0;
  }
  
  .nav {
    background-color: #f3f1f1;
  }
  
  .nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
  }
  
  .nav li {
    padding: 10px;
  }
  
  .nav  a {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  
  /* Estilo para telas menores (responsivo) */
  @media (max-width: 600px) {
    nav {
      flex-direction: column;
    }
  }
  