/* styles.css */
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway/static/Raleway-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }

  .bar {
    width: 24px;
    height: 3px;
    background-color: rgb(27, 27, 27);
    margin: 3px 0;
  }
    
  .nav {
    background-color: #fff;
    width: 80%; 
    margin: auto;
    display: flex;
    gap: 35px;
    box-sizing: border-box;
    margin-bottom: 25px;
    box-shadow: 0px 0px 3px  rgb(184, 180, 180);
    padding: 10px;
    align-items: flex-end;
}
  .nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: flex-end;
    display: flex;
    gap: 35px;
  }
  
  .nav li {
    padding: 10px;
  }
  
  .nav a {
    text-decoration: none;
    font-family: 'Raleway', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    color: rgb(0, 0, 0);
  }

  .nav span {
    font-family: 'Raleway', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    color: rgb(0, 0, 0);
    padding: 10px;
    font-weight: 700;
  }
  
  .divImg img{
    width: 100px;
    height: 100px;
    display: block;
  }



  /* Estilo para telas menores (responsivo) */
  @media (max-width: 900px) {
    .nav {
      display: block;
    }
      /* Estilos para o botão quando o conteúdo está visível */
  .visible {
    display: block !important;
  }

  .visible ul {
    display: block !important;
    padding: 10px;
  }

    #ul {
      display: none;
    }

    .nav li {
      padding: 3px;

    }

    .hamburger {
      display: block;
      flex-direction: column;
      cursor: pointer;
      position: absolute;
      top: 70px;
      right: 125px;
    }

    .divImg {
      display: flex;
      margin-bottom: 10px;
    }

    .divImg img {
      margin: 0px;
    }

  }
  