
.container {
    width: 80%;
    height: 50%;
    margin: auto;
    background: rgb(6, 129, 230, 0.7);
    /*220, 238, 248 cor boa*/
    border-radius: 2%;
}

body {
    background-color: rgb(241, 224, 202);
    
}

a {
    text-decoration: none;
    font-family: helveticaLight;
}

.paragrafo {
    padding: 8px;
   
}

.center {
    text-align: center;
}


.alingCenter {
    margin:auto;
    overflow-x: scroll;
}

.tabela {
    margin: 10px;
    border: 1px solid gray;
    overflow-x: scroll;
}

@font-face {
    font-family: helveticaLight;
    src: url('../fonts/Helvetica-Neue-Font/Helvetica\ Neue\ UltraLight/Helvetica Neue UltraLight.ttf') format("opentype");
}

 p{
    font-family: helveticaLight;
    font-weight: 300;
    font-size: 1.2em;
    color: rgb(255, 255, 255);
 }

 .imgindex{
    align-self: center;
 }

img {
    align-content: center;
    width: 50%;
 
}

h1 {
    color: rgb(252, 252, 252);
    font-family: helveticaLight;
}

.benefits {
    margin: 8px;
}

.rodape {
    background-color: blanchedalmond;
    padding: 25px;
    font-family: helveticaLight;
    font-weight: 600;

}