@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/static/Raleway-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  

.tabela  {
    width: 100%; 
    border: 1px solid #ddd;
    font-family: 'Raleway', 'Arial Narrow', Arial, sans-serif;

}

th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #f2f2f2;
  }